.HomePage {
  text-align: center;
}

.ButtonContainer {
  margin: 1vh;
  display: flex;
  justify-content: space-around;
}

.MuiAccordion-root {
  margin: 10px !important;
  border-radius: 5px !important;
}

.MuiCard-root {
  margin: 10px;
}

.MuiCardContent-root {
  display: flex;
  flex-direction: column;
}
